.main{
    width: 700px;
    height: 400px;
    border: 2px solid red;
    display: flex;
    color: white;
}
.margin{
    width: 200px;
    height: 200px;
    margin: 50px;
    background-color: blue;
}
.padding{
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: blue;
}
.container{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 30%;
    height: 200px;
    border: 2px solid red;
    margin: 2px;
}

.box1{
    background-color: blueviolet;
}
.box2{
    background-color: rgb(167, 173, 49);

}
.box3{
    background-color: rgb(10, 155, 141);
}
.box4{
    background-color: rgb(48, 9, 126);
    width: 400px;
}
.box5{
    background-color: rgb(226, 43, 156);
}
.box6{
    background-color: blueviolet;
}
.box7{
    background-color: rgb(150, 11, 66);
}
.box8{
    background-color: rgb(243, 239, 3);
}
.box9{
    background-color: rgb(13, 188, 123);
}
.box10{
    background-color: rgb(198, 22, 22);
}

/* for question no 3 */
.external{
    color: dodgerblue;
}
.hello2{
    width:fit-content;
    color: blueviolet;
    margin: 5px 10px 10px 20px;
    padding: 20px 10px 10px 5px;
    border: 5px solid red;
    border-radius: 20px;

}